
body {
  font-family: Arial,sans-serif;
  background: linear-gradient(270deg,#BDBA1D,#A4CB13,#55CF59,#2FA98D);
  background-size:400% 400%;
  animation: flow 10s ease infinite ;
  colour: white;
    font-size: 15pt;
} @keyframes flow {
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 50%;}
}

h1{
  font-size: 45px
}
.title{
  color:black;
  text-align: center;
  border:2px solid white;
}
.h3{
  font-size:25px;
}
nav{
  color:white;
  padding:12px;
  border-radius:15px;
}
button{
  background-color: black;
  color:gold;
  padding:15px;
}
div{
  background-color: white;
  padding:12px;
}
.label{
  background-color:#31AB23;
}
a{
  color: white;
}
button{
  color: white;
  padding:20px;
  border-radius: 15px;
  border:2px solid white;
}